﻿@using Clientes.Models
@model TelCelular


<h2>Agregar Telefono Celular</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<tr>

					<th>
						@Html.DisplayNameFor(model => model.NumeroCelular)
					</th>
					<td>
						@Html.EditorFor(model => model.NumeroCelular)
				    	@Html.ValidationMessageFor(model => model.NumeroCelular)
					</td>
				
				</tr>
			</table>
				<input class="btn btn-primary" type="submit" value="Agregar">
		</div>
	</div>
} 
