﻿@using Clientes.Models
@model Cliente

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingreso nuevo Cliente</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Nombre)
					</th>
					<td>
						@Html.EditorFor(model => model.Nombre)
				    	@Html.ValidationMessageFor(model => model.Nombre)
					</td>
				</tr>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Apellido)
					</th>
					<td>
						@Html.EditorFor(model => model.Apellido)
				    	@Html.ValidationMessageFor(model => model.Apellido)
					</td>
				</tr>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Correo)
					</th>
					<td>
						@Html.EditorFor(model => model.Correo)
				    	@Html.ValidationMessageFor(model => model.Correo)
					</td>
				</tr>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Documento)
					</th>
					<td>
						@Html.EditorFor(model => model.Documento)
				    	@Html.ValidationMessageFor(model => model.Documento)
					</td>
				</tr>

			</table>
				<input class="btn btn-primary" type="submit" value="Crear">
		</div>
	</div>
} 

<script>
	function setActiveTab()
	{
		$("#navbar li").removeClass("active");
		$("#listado").addClass("active");
	}
</script>