﻿@using Clientes.Models
@model Cliente

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Cliente</h2>

<div>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<td>
				@Html.DisplayFor(model => model.ID)
			</td>
		</tr>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<td>
				@Html.DisplayFor(model => model.Nombre)
			</td>
		</tr>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Apellido)
			</th>
			<td>
				@Html.DisplayFor(model => model.Apellido)
			</td>
		</tr>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Correo)
			</th>
			<td>
				@Html.DisplayFor(model => model.Correo)
			</td>
		</tr>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Documento)
			</th>
			<td>
				@Html.DisplayFor(model => model.Documento)
			</td>
		</tr>
		<tr>
            <th>
				@Html.DisplayNameFor(model => model.Telefonos)
			</th>
			<th></th>
		</tr>
            
            <tr>
        		<th>
        			Hogar
        		</th>
            	<th>
            		Celular
            	</th>
            	<th>
            		Trabajo
            	</th>
            </tr>
            @foreach (var item in Model.Telefonos)
            {
            <tr>
            	<td>
                	@Html.DisplayFor(modelItem => item.NumeroHogar)
                </td>
                <td>
                	@Html.DisplayFor(modelItem => item.NumeroCelular)
                </td>
               	<td>
                	@Html.DisplayFor(modelItem => item.NumeroTrabajo)
            	</td>
            </tr>
            }
          


	</table>
</div>


<p class="btn btn-default">
	 @Html.ActionLink("Agregar Telefono", "AgregarTelefono",new { id=Model.ID })
</p>
<p class="btn btn-default">
	 @Html.ActionLink("Editar Telefono", "EditTelefono",new { id=Model.ID })
</p>
<p class="btn btn-default">
    @Html.ActionLink("Inicio", "Index", "Home")
</p>

<p class="btn btn-default">
	@Html.ActionLink("Editar", "Edit", new { id=Model.ID  })
</p>