﻿@using Clientes.Models
@model Telefono

@{
    ViewBag.Title = "EditTelefono";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Telefono</h2>

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.NumeroCelular)
					</th>
					<td>
						@Html.EditorFor(model => model.NumeroCelular)
				    	@Html.ValidationMessageFor(model => model.NumeroCelular)
					</td>
				</tr>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.NumeroHogar)
					</th>
					<td>
						@Html.EditorFor(model => model.NumeroHogar)
				    	@Html.ValidationMessageFor(model => model.NumeroHogar)
					</td>
				</tr>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.NumeroTrabajo)
					</th>
					<td>
						@Html.EditorFor(model => model.NumeroTrabajo)
				    	@Html.ValidationMessageFor(model => model.NumeroTrabajo)
					</td>
				</tr>
			</table>
				<input class="btn btn-primary" type="submit" value="Guardar Cambios">
		</div>
	</div>
} 

