﻿@using Clientes.Models
@model IEnumerable < Cliente >


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Clientes</h2>

@using (Html.BeginForm())
{
    <p>
        Buscar por Nombre o Apellido: @Html.TextBox("SearchString")  
        <input class="btn btn-default" type="submit" value="Buscar" />
     </p>
}


<div>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ID)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Apellido)
			</th>

			<!--<th>
				@Html.DisplayNameFor(model => model.Correo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Documento)
			</th>-->
		</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ID)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nombre)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Apellido)
			</td>
			<!--<td>
				@Html.DisplayFor(modelItem => item.Correo)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Documento)
			</td>-->

			<td>
				@Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
				@Html.ActionLink("Detalles", "Details", new { id=item.ID })<!--|
				@Html.ActionLink("Eliminar", "Delete", new { id=item.ID }) -->
			</td>
		</tr>
		}
	</table>
</div>


<p class="btn btn-default">
    @Html.ActionLink("Inicio", "Index", "Home")
</p>

<p class="btn btn-default">
    @Html.ActionLink("Nuevo Cliente", "Create", "Cliente")
</p>

<script>
	function setActiveTab()
	{
		$("#navbar li").removeClass("active");
		$("#listado").addClass("active");
	}
</script>